.App {
  margin-left: 100px;
}

button {
  margin-top: 25px;
  background-color: rgb(48, 158, 231);
  color: white;
  width: 120px;
  height: 50px;
  font-size: 19px;
  border-radius: 5px;
  border: none;
}

button:disabled {
  background-color: grey;
}

.Cientifica {
  margin-left: 100px;
}

.Valores {
  margin-top: 40px;
}

.Valores input {
  display: block;
  margin: 20px 0px;
  height: 30px;
  width: 340px;
}

.Calcular {
  background-color: green;
  width: 340px;
}

.Header-historico {
  margin-top: 40px;
  display: flex;
}

.Limpar {
  margin-left: 1300px;
  width: 200px;
}
